.post {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.post:hover {
    transform: scale(1.02);
}

.post_image {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: opacity 0.3s ease-in-out;
}

.post_image:hover {
    opacity: 0.9;
}

.post_text {
    font-weight: 500;
    font-size: 16px;
    padding: 16px;
    color: #333;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.post_comments {
    padding: 16px;
    background-color: #fafafa;
    border-top: 1px solid #eee;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.post_comments p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.post_comments p strong {
    color: #000;
}

.post_header {
    display: flex;
    align-items: center;
    padding: 16px;
}

.post_headerInfo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}